@charset "utf-8";

@font-face {
    font-family: TedNext;
    src: url('./assets/fonts/TedNext.eot') format('embedded-opentype'),
         url('./assets/fonts/TedNext.woff2') format('woff2'),
         url('./assets/fonts/TedNext.woff') format('woff'),
         url('./assets/fonts/TedNext.ttf') format('truetype'),
         url('./assets/fonts/TedNext.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: TedNext-Italic;
    src: url('./assets/fonts/TedNext-Italic.eot') format('embedded-opentype'),
         url('./assets/fonts/TedNext-Italic.woff2') format('woff2'),
         url('./assets/fonts/TedNext-Italic.woff') format('woff'),
         url('./assets/fonts/TedNext-Italic.ttf') format('truetype'),
         url('./assets/fonts/TedNext-Italic.svg') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: TedNext-Bold;
    src: url('./assets/fonts/TedNext-Bold.eot') format('embedded-opentype'),
         url('./assets/fonts/TedNext-Bold.woff2') format('woff2'),
         url('./assets/fonts/TedNext-Bold.woff') format('woff'),
         url('./assets/fonts/TedNext-Bold.ttf') format('truetype'),
         url('./assets/fonts/TedNext-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: TedNext-Light;
    src: url('./assets/fonts/TedNext-Light.eot') format('embedded-opentype'),
         url('./assets/fonts/TedNext-Light.woff2') format('woff2'),
         url('./assets/fonts/TedNext-Light.woff') format('woff'),
         url('./assets/fonts/TedNext-Light.ttf') format('truetype'),
         url('./assets/fonts/TedNext-Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: TedNext-BoldItalic;
    src: url('./assets/fonts/TedNext-BoldItalic.eot') format('embedded-opentype'),
         url('./assets/fonts/TedNext-BoldItalic.woff2') format('woff2'),
         url('./assets/fonts/TedNext-BoldItalic.woff') format('woff'),
         url('./assets/fonts/TedNext-BoldItalic.ttf') format('truetype'),
         url('./assets/fonts/TedNext-BoldItalic.svg') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: TedNext-LightItalic;
    src: url('./assets/fonts/TedNext-LightItalic.eot') format('embedded-opentype'),
         url('./assets/fonts/TedNext-LightItalic.woff2') format('woff2'),
         url('./assets/fonts/TedNext-LightItalic.woff') format('woff'),
         url('./assets/fonts/TedNext-LightItalic.ttf') format('truetype'),
         url('./assets/fonts/TedNext-LightItalic.svg') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: TedNext-SemiBoldItalic;
    src: url('./assets/fonts/TedNext-SemiBoldItalic.eot') format('embedded-opentype'),
         url('./assets/fonts/TedNext-SemiBoldItalic.woff2') format('woff2'),
         url('./assets/fonts/TedNext-SemiBoldItalic.woff') format('woff'),
         url('./assets/fonts/TedNext-SemiBoldItalic.ttf') format('truetype'),
         url('./assets/fonts/TedNext-SemiBoldItalic.svg') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: TedNext-SemiBold;
    src: url('./assets/fonts/TedNext-SemiBold.eot') format('embedded-opentype'),
         url('./assets/fonts/TedNext-SemiBold.woff2') format('woff2'),
         url('./assets/fonts/TedNext-SemiBold.woff') format('woff'),
         url('./assets/fonts/TedNext-SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: TedNext, Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    padding-bottom: 3.5rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

#wrapper {
    display: flex;
}

.bg-secondary {
    background-color: #f6f7f9 !important;
}

.sidebar {
    width: 6.5rem;
    min-height: 100vh;
}

.sidebar-brand {
    color: #fff;
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    padding: 1.5rem 1rem;
}

.sidebar hr.sidebar-divider {
    margin: 0 1rem 1rem;
}

.sidebar-heading {
    color: #333;
}

.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: .65rem;
    text-transform: uppercase;
    margin-bottom: .8rem;
}

.sidebar .nav-item .nav-link {
    text-align: center;
    padding: .75rem 1rem;
    width: 6.5rem;
    color: #696969;
}

.sidebar .nav-item .nav-link:hover {
    background-color: #da291c;
    color: #fff;
}

.sidebar .nav-item .nav-link span {
    font-size: .65rem;
    display: block;
    margin-left: 2.5rem;
}

.dashboard,
.digital-tv,
.ignite-tv,
.home-monitoring,
.home-phone,
.internet,
.wireless {
    background-repeat: no-repeat;
    background-size: 1.56rem 1.56rem;
    background-position: 1rem center;    
}

.dashboard {
    background-image: url('./assets/images/icons/home.png');
}

.dashboard:hover {
    background-image: url('./assets/images/icons/home_selected.png');
}

.digital-tv,
.ignite-tv {
    background-image: url('./assets/images/icons/tv.png');
}

.digital-tv:hover,
.ignite-tv:hover {
    background-image: url('./assets/images/icons/tv_selected.png');
}

.home-monitoring {
    background-image: url('./assets/images/icons/homeMonitoring.png');
}

.home-monitoring:hover {
    background-image: url('./assets/images/icons/homeMonitoring_selected.png');
}

.home-phone {
    background-image: url('./assets/images/icons/homePhone.png');
}

.home-phone:hover {
    background-image: url('./assets/images/icons/homePhone_selected.png');
}

.internet {
    background-image: url('./assets/images/icons/internet.png');
}

.internet:hover {
    background-image: url('./assets/images/icons/internet_selected.png');
}

.wireless {
    background-image: url('./assets/images/icons/wireless.png');
}

.wireless:hover {
    background-image: url('./assets/images/icons/wireless_selected.png');
}

.sidebar-toggle {
    background-color: rgba(33, 33, 33, 0.2);
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.sidebar-toggle:hover {
    background-color: rgba(33, 33, 33, 0.25);
}

.sidebar-toggle:after {
    color: rgba(33, 33, 33, 0.5);
    font-weight: 900;
    font-family: 'FontAwesome';
    content: '\f104';
    margin-right: .1rem;
}

.topbar .dropdown {
    position: static;
}

.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #d1d3e2;
}

.topbar .nav-item .nav-link {
    height: 4.375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
    position: relative;
}

.topbar .nav-item .nav-link .badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: .25rem;
    margin-top: -.25rem;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}

.welcome-text {
    font-weight: 600;
    font-size: .9375rem;
    color: #333;
}

#wrapper #content-wrapper {
    // background-color: #f8f9fc;
    background-color: #fff;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto;
}

.topbar {
    height: 4.375rem;
}

.topbar .sidebar-toggle-top {
    height: 2.5rem;
    width: 2.5rem;
}

.topbar .navbar-search {
    width: 50rem;
}

.subhubs {
    display: flex;
    flex-wrap: wrap;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}

.nav-tabs .nav-item {
    padding-left: 1rem;
    margin-bottom: -.125rem;
}

.nav-tabs .nav-item .nav-link {
    border-radius: 0;
    color: #696969;
    font-weight: 500;
}

.nav-tabs .nav-item .nav-link.active {
    color: #333;
    font-weight: 600;
    border-width: 0 0.05rem;
    border-top: .1875rem solid #da291c;
}

.tab-content {
    border: 0.0625rem solid #dee2e6;
    border-top: none;
}

footer {
    background-color: #008099;
    color: #fff;
    display: flex;
    align-items: center;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer.sticky-footer {
    flex-shrink: 0;
}

footer h2 {
    margin: 0;
    font-size: 1rem;
}

footer h2 i {
    margin-left: .8rem;
}

.card {
    border-radius: 0;
    border-width: 0.02rem;
    border-top: .1875rem solid #da291c;
    background-color: #fff;
    box-shadow: 0.01875rem 0.05625rem 0.18125rem 0.025rem rgba(0,0,0,.15);
}

.card .card-body h3.card-title {
    font-size: 1.313rem;
    font-weight: 600;
    color: #414042;
    padding: 0;
    margin-bottom: 1rem;
}

.tab-content {
    flex-grow: 1;
}

.card .card-body ul,
.tab-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.card .card-body ul li,
.tab-content ul li {
    padding-top: .75rem;
    line-height: 1.2;
}

.card .card-body .card-link,
.tab-content ul li a {
    line-height: 1.25;
    color: #085498;
    padding-right: 0.5rem;
    cursor: pointer;
}

.card .card-body .card-link:after,
.tab-content ul li a:after {
    margin-left: .5rem;
    content: '\f105';
    font-family: 'FontAwesome';
}

.tab-pane {
    padding: 0.25rem .9375rem 1.563rem .67rem;
}

@media(min-width: 768px) {
    .sidebar {
        width: 14rem !important;
    }

    .sidebar .sidebar-heading {
        text-align: left;
    }

    .sidebar .nav-item .nav-link {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        padding: 1rem;
        width: 14rem;
    }

    // .sidebar .nav-item .nav-link img {
    //     margin-right: 1rem;
    //     height: 1.56rem;
    //     width: 1.56rem;
    // }

    .sidebar .nav-item .nav-link span {
        font-size: .9rem;
        display: inline;
    }
}

@media(min-width: 576px) {
    .topbar .dropdown {
        position: relative;
    }
}